<p>
	<em>Coming soon</em>
</p>
@*<h2>Japan Festival 20XX</h2>

<div style="text-align:center;">

	<iframe width="560" height="315" src="https://www.youtube.com/embed/zP2Vi2ShxOc" frameborder="0" allowfullscreen></iframe>
</div>*@
