<h2>Resources</h2>
<div class="taiko-resources">
	<ul>
		<li>
			<a href="http://www.denvertaiko.org">Denver Taiko</a><br />
			Founded in 1976, Denver Taiko is a very talented taiko troop and the 4th oldest taiko group in North America.
		</li>
		<li>
			<a href="http://www.taikoproject.com/">TAIKOPROJECT</a><br />
			TAIKOPROJECT is a high energy taiko group based in Los Angelos, California that not only performs but offers taiko workshops.
		</li>
		<li>
			<a href="http://www.kcjas.org/">Heart of America Japan-America Society</a><br />
			The Heart of America Japan-America Society seeks to further understanding
			between the peoples of Japan and the Greater Kansas City area by promoting
			social, cultural and educational exchanges.
		</li>
	</ul>
</div>
