<h2>
	Contact Us
</h2>
<p>
	Email<br />
	 <script>doathing("holla");</script>
</p>
<p>
	Facebook<br />
	<a href="https://www.facebook.com/ThreeTrailsTaiko/">https://www.facebook.com/ThreeTrailsTaiko/</a>
</p>
<p>
	Twitter<br />
	<a href="https://twitter.com/3trailstaiko">https://twitter.com/3trailstaiko</a>
</p>

<h2>
	About Three Trails Taiko
</h2>
<p>
	We are a volunteer community group with a passion for taiko whether in the practice room or on stage.
	We have performed for the Greater Kansas City Japan Festival, the Independence Cherry Blossom Festival, and various Charity, Library, and Business Events.
	Please contact us via
	<script>doathing("email");</script> to schedule a performance.
</p>
